{% extends 'base.html' %}
{% block nav %}
    {% if request.user == user_obj %}
    <li class="nav-item">
        <a class="nav-link" href="#">Edit </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Change password</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Profile {{ user_obj.get_full_name|default:user_obj.username }}</h1>

    <div class="card mb-3">
        <div class="row g-0">
            {% if user_obj.profile.avatar %}
                <div class="col-md-4">
                    <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid rounded-start w-75" alt="avatar">
                </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title fw-bold">{{ user_obj.username }}</h3>

                    <p class="card-text">
                        {% if user_obj.first_name %}
                            {{ user_obj.first_name }}
                        {% endif %}
                        {% if user_obj.last_name %}
                            {{ user_obj.last_name }}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if user_obj.profile.bio %}
                            {{ user_obj.profile.bio }}
                        {% endif %}
                    </p>
                    {% if user_obj.profile.birth_date %}
                        <p class="card-text">Birth Date:
                            {{ user_obj.profile.birth_date }}
                        </p>
                    {% endif %}

                    <p class="card-text">Email: {{ user_obj.email }}</p>

                    <p class="fs-4">
                        {% if user_obj.profile.github %}
                            <a class="text-dark" href="{{ user_obj.profile.github }}"><i class="bi bi-github"></i></a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'partial/posts_list_partial.html' with posts=object_list %}
{% endblock %}