<form class="d-flex" role="search" action="" method="GET">
    <div>
        {{ form.search }}
        <input type="submit" class="btn btn-light ms-1" value="Search">
    </div>
    {% for error in form.search.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
</form>

{#<form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}