{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item search-form">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDarkDropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for category in categories %}
                    <li>
                        <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
     <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'blog:add_post' %}">Add Post</a>
    </li>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>
            {{ category.name }}
        </h1>
    </div>

    <h2>Posts:</h2>

     <div class="row">
        {% for post in object_list %}
            <div class="col-sm-4 my-3">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h3 class="card-title">{{ post.title }}</h3>
                    </div>
                    <div class="card-body">
                        <p>Published {{ post.publish }} by {{ post.author }}</p>
                        <p class="card-text">
                            {{ post.body|truncatewords:20|linebreaks }}
                        </p>
                        <a href="{{ post.get_absolute_url }} " class="btn btn-secondary">more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div></br>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}